body {
    background-color: rgb(78, 78, 78) !important;
    max-width: 1903px;
    max-height: 1080px;
    height: 1080px;
    width: 1903px;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    background-color: black;
    width: 1925px;
    color: white;
    height: 55px;
    display: inline-block;
}

#close {
    position: absolute;
    font-size: 45px;
    cursor: pointer;
    color: green;
    top: -5px;
    left: 98%;
}

#tooltip {
    display: none;
    position: absolute;
    color: red;
    font-size: 20px;
    left: -100px;
    top: 20px;
}

#close:hover > #tooltip {
    display: inherit;
}

#close:hover {
    color: red;
}