footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: grey;
}

#start {
    position: relative;
    top: -2px;
    font-size: 40px;
    left: 5px;
    color: white;
}


#start:hover {
    transition: .4s;
    color:rgb(114, 114, 255) !important;
}

#startooltip {
    display: none;
    position: absolute;
    font-size: 20px;
    top: 18px;
    left: 45px;
    background-color: white;
    height: 20px;
    line-height: 0;
    padding: 8px;
    color: black;
    font-style: Helvetica !important;
}

#start i:hover > #startooltip {
    display: inherit;
}


footer p {
    display: inline;
}

footer #task_time {
    position: relative;
    top: -15px;
    left: 1770px;
}

footer #task_date {
    position: relative;
    top: 0px;
    left: 1700px;
}

footer #bildschirm {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 50px !important;
    width: 8px;
    border-left: 2px solid white;
}

footer #bildschirm:hover {
    background-color: rgb(48, 48, 48);
    opacity: .5;
}

/*MENU is not in Footer*/ 
#menu {
    position: absolute;
    display: none;
    background-color: rgb(37, 37, 37);
    top: 530px;
    width: 300px;
    max-height: 500px;
    height: 500px;
}

#appleiste {
    overflow-x: none;
    max-height: 500px;
}

.m_app_hover {
    position: relative;
    top: 50px;
    left: 5px;
    width: 290px;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.m_app_hover:hover {
    border: 1px solid rgb(72, 72, 255);
}

.m_appimg {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
}

.m_app_desc {
    font-size: 20px;
    width: 200px;
    height: auto;
    position: relative;
    top: -40px;
    left: 80px;
    color: black;
    text-shadow: 1px 1px;
}

#abmelden {
    position: relative;
    color: white;
    top: 478px;
    bottom: 0px;
    margin-bottom: 0px;
    line-height: 0;
    font-family: Helvetica;
    left: 210px;
    cursor: pointer;
}

#abmelden:hover {
    color: red;
}

#shutdown {
    position: relative;
    color: white;
    top: 478px;
    bottom: 0px;
    margin-bottom: 0px;
    line-height: 0;
    font-family: Helvetica;
    left: -74px;
    cursor: pointer;
}

#shutdown i {
    font-size: 20px;
}

#shutdown:hover {
    color: red;
}


#profilbild {
    z-index: 1;
    position: absolute;
    background-color: rgb(37, 37, 37);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#username {
    z-index: 1;
    background-color: rgb(37, 37, 37);
    width: 238px;
    height: 50px;
    position: absolute;
    left: 45px;
    font-size: 20px;
    color: white;
}