body {
    background-color: rgb(106, 106, 106) !important;
}

h1 {
    color: rgb(0, 145, 255);
    font-family: Helvetica;
    text-align: center;
    font-weight: bolder !important;
}

.fa-windows {
    margin: 100px 0 50px 0;
    font-size: 200px;
    text-align: center;
    display: block !important;
    color: rgb(0, 145, 255); 
}

.loader {
    border: 16px solid #ffffff;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid rgb(96, 96, 255);
    width: 200px;
    -webkit-animation: load 2s infinite;
    animation: load 2s infinite;
}

@keyframes load {
    0% {width: 0px}
    100%  {width: 200px};
}
  

#message {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    color: white;
}