@import "/../system/v1/_system/app_design.css";
@import "/../system/v1/systemapps/settings/sidebar.css";

#installed .appimg {
    width: 50px;
    display: inline-block;
}

#installed .app_desc {
    position: relative;
    top: -38px;
    left: 60px;
    font-size: 20px;
}

#installed .btn-primary {
    position: relative;
    background-color: red !important;
    top: 10px;
    margin-bottom: 50px;
}

#installed .btn-primary:hover {
    opacity: 0.5;
}

#browser,
#uninstall_browser,
#app_number,
#uninstall_number {
    display: none;
}