@import "/../system/v1/_system/app_design.css";
@import "/../system/v1/systemapps/settings/sidebar.css";

#welcome {
    margin: 0 auto;
    display: block;
}

#welcome img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 460px;
    height: 460px;
}

#welcome #name {
    text-align: center;
}

#welcome #notizen {
    text-align: left !important;
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 300px;
}