@import "/../system/v1/_system/app_design.css";
@import "/../system/v1/systemapps/settings/sidebar.css";


/*TEXT*/
#changeBenutzer, 
#changePassword, 
#changeBackground, 
#changeProfilbild,
#deleteProfile, 
.color_change {
    font-size: 25px;
    color: white;
    display: inline;
    margin-bottom: 20px;
    line-height: 1.8 !important;
}

/*INPUTS*/
#newname, 
#newpassword, 
#newBackground, 
#newProfilbild {
    cursor: text;
    background-color: white;
    color: black;
    width: 400px;
}

#deleteprofile:hover {
    background-color: red !important;
}

input {
    margin-bottom: 10px;
}