@import "/../system/v1/_system/app_design.css";

iframe {
    position: absolute;
    top: 55px;
    width: 1920px;
    height: 980px;
}

#close_url {
    position: absolute;
    top: 10px;
    left: 45%;
    z-index: 100;
}

#open_url {
    position: absolute;
    top: 10px;
    left: 45%;
    z-index: 100;
    display: none;
}

#suchleiste {
    position: relative;
    z-index: 100;
    width: 1920px;
    text-align: center;
}

#suchleiste input[type=url] {
    width: 1200px;
}


